<% var amount = 0 %>
<% for(var i = 0; i < orderBook.length; i++) { %>
<% amount += orderBook[i].BOOK_PRICE * count[i] %>
<% } %>

<form action="/order/goOrder" method="POST">
  <div class="container">
    <h3>주문</h3>
    <table class="table">
      <tr>
        <td>
          <div class="form-group col-md-4">
            <label for="addr">배송지 선택</label>
            <select id="addr" class="form-control" aria-colspan="13" name="ADDR_UID" style="width: auto;">
              <option value="<%=myAddr[0].ADDR_UID%>" id="ADDR_UID" selected>
                <%=myAddr[0].BASIC_ADDR + myAddr[0].DETAIL_ADDR %></option>
              <% for(var i = 1; i < myAddr.length; i++) {%>
              <option value="<%=myAddr[i].ADDR_UID%>"><%=myAddr[i].BASIC_ADDR + myAddr[i].DETAIL_ADDR %></option>
              <% } %>
            </select>
          </div>
        </td>
        <td>
          <div class="form-group col-md-4">
            <label for="card">카드</label>
            <select id="card" class="form-control" width="300" name="CARD_ID" style="width: auto;">
              <option value="<%=myCard[0].CARD_ID%>" selected><%=myCard[0].CARD_ID + '/' + myCard[0].CARD_TYPE %>
              </option>
              <% for(var i = 1; i < myCard.length; i++) {%>
              <option value="<%=myCard[i].CARD_ID%>"><%=myCard[i].CARD_ID + '/' + myCard[i].CARD_TYPE %></option>
              <% } %>
            </select>
          </div>
        </td>
      </tr>

      <% for(var i = 0; i < orderBook.length; i++) { %>
      <tr>
        <td>
          <img src="/images/book/<%=orderBook[i].BOOK_PATH%>" alt="1" width="300" height="300">
        </td>
        <td width="*" align="center" valign="top">
          <li>책 이름 : <%=orderBook[i].BOOK_NAME %></li>
          <li>출판사 / 작가 : <%=orderBook[i].BOOK_PUBLISH %> | <%=orderBook[i].BOOK_AUTHOR %></li>
          <li>세부 정보 : <%=orderBook[i].BOOK_DETAIL %></li>
          <br><br>
          <li>주문 수량 : <%=count[i]%>개</li>
          <li>주문 가격 : <%=orderBook[i].BOOK_PRICE * count[i] %>원</li>
        </td>
      </tr>
      <% } %>

      <tr>
        <td>
          <li>
            주문 총액 : <input type="text" style="text-align: right; border: 0; border-color: white;" name="amount" value="<%=amount%>">원

          </li>
        </td>
        <td>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block mb-4">
              구매하기
            </button>
          </div>
        </td>
      </tr>

  </div>


  </table>
</form>