<div class="container h-100">
  <div class="user-form container">
    <% if (userName != null) { %>
    <h2><%=userName %> 님 안녕하세요</h2>
    <% } %>

  </div><br>
  <div class="d-flex justify-content-center h-100">

    <form action="/search" method="post">
      <div class="searchbar">
        <input class="search_input" type="text" name="bookName" id="bookName" placeholder="Search...">
        <button type="submit" class="search_icon btn"><i class="fas fa-search"></i></button>
      </div>
    </form>

  </div>



  <table class="table container h-100">
    <% for(var i = 0; i < bookInfo.length; i++) {%>
    <tr>
      <td>
        <img src="/images/book/<%=bookInfo[i].BOOK_PATH%>" alt="<%=i + 1%>" width="300" height="300">
      </td>
      <td width="*" align="left" valign="top">
        <li><%=bookInfo[i].BOOK_NAME %></li>
        <li><%=bookInfo[i].BOOK_PUBLISH %> | <%=bookInfo[i].BOOK_AUTHOR %></li>
        <li><%=bookInfo[i].BOOK_DETAIL %></li>
        <li><%=bookInfo[i].BOOK_PRICE %>원</li>
        <li><%=bookInfo[i].BOOK_COUNT %>개</li>
      </td>
    </tr>
    <% } %>
  </table>
</div>
<br><br>
<div class="container h-100 user-form">
  <% if(bookInfo.length == 0) { %>
  <h1>책이 없습니다 ㅜㅜ</h1>
  <% } %>
</div>

<script>
  function search() {
    var bookName = document.getElementById('bookName').nodeValue;

    location.href = '/main/' + bookName;

  }
</script>