<div class="container h-100">
    <div class="user-form container">
        <% if (userName != null) { %>
        <h2><%=userName %> 님의 마이페이지</h2>
        <% } %>
    </div>
    <br />

    <div class="">
        <table class="table table-striped">
            <h1>Address</h1>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">우편번호</th>
                    <th scope="col">기본주소</th>
                    <th scope="col">상세주소</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < myAddr.length; i++) {%>
                <tr>
                    <th scope="row"><%= i+1 %></th>
                    <td><%=myAddr[i].SHIPPING_NUM %></td>
                    <td><%=myAddr[i].BASIC_ADDR %></td>
                    <td><%=myAddr[i].DETAIL_ADDR %></td>
                    <td><a href="/myPage/<%=sess%>/<%=myAddr[i].ADDR_UID%>/addr">수정</a>&nbsp;&nbsp;&nbsp;<a href="/myPage/<%=sess%>/<%=myAddr[i].ADDR_UID%>/deleteAddr">삭제</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <a href="/myPage/<%=sess%>/addr">+추가</a>
    </div>
    <br /><br />

    <div class="">
        <table class="table table-striped">
            <h1>Card</h1>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">카드번호</th>
                    <th scope="col">유효기간</th>
                    <th scope="col">카드종류</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < myCard.length; i++) {%>
                <tr>
                    <th scope="row"><%= i+1 %></th>
                    <td><%=myCard[i].CARD_ID %></td>
                    <td><%=myCard[i].CARD_DATE %></td>
                    <td><%=myCard[i].CARD_TYPE %></td>
                    <td><a href="">수정</a>&nbsp;&nbsp;&nbsp;<a href="">삭제</a></td>
                </tr>
                <% } %>

            </tbody>
        </table>
        <a href="/myPage/<%=sess%>/card">+추가</a>
    </div>
</div>